#ibg h2 {
  margin: 0px 0px 15px 0px;
  padding: 0;
}
#ibg .choiceSet h3 {
  padding: 15px 0px 15px 0px;
  margin: 0px;
}
#ibg .choiceSet .thumbnail {
  border: 1px #ccc solid;
  padding: 0px;
  margin-bottom: 15px;
}
#ibg .choiceSet .thumbnail:hover * {
  text-decoration: none;
}
#ibg .choiceSet .caption {
  padding: 0px 10px 10px 10px;
}

/* ====== ngAnimate ====== */

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -moz-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -ms-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -o-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    position: relative;
    display: block;
} 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    height: 30px;
}
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    height: 0px;
}