<div class="row" ng-hide="items">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>{{question}}</h2>
	</div>
</div>
<div class="row" ng-hide="items">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 choiceSet" ng-class="{'col-md-offset-2 col-lg-offset-2':{{$first&&productSelection.length==2}}}" ng-repeat="o in productSelection">
		<a ng-click="getNextSet(o, $index)">
			<div class="thumbnail">
				<img src="http://fillmurray.com/g/800/480" alt="" class="hidden-xs">
				<div class="caption text-center">
					<h3>{{o.text}}<br>
						<small> Square Footage </small>
					</h3>
					<a class="btn btn-success btn-block choiceBtn" role="button" ng-click="getNextSet(o, $index)"> Select </a>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="row" ng-show="items">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2> These are the best products for you. </h2>
	</div>
</div>
<div class="row" ng-show="items">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 choiceSet" ng-repeat="item in itemSelection">
		<a href="#">
			<div class="thumbnail">
				<img src="http://fillmurray.com/g/800/480" alt="" class="hidden-xs">
				<div class="caption text-center">
					<h3>{{item.sku}}<br>
						<small> Item Description </small>
					</h3>
					<a class="btn btn-success choiceBtn" role="button" href=""> Add to Cart </a> <a class="btn btn-default choiceBtn" role="button" href=""> View Page </a>
				</div>
			</div>
		</a>
	</div>
</div>