<!-- ====== BEGIN GUIDE ====== -->
    
    <!-- ====== BEGIN PROMPT ====== -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Are you looking to cool your space or get rid of excess moisture?
        </h2>
      </div>
    </div>

    
    <!-- ====== BEGIN OPTIONS ====== -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 choiceSet" ng-repeat="o in productSelection">
        
        <a href="#">
          <div class="thumbnail">
            <img src="http://fillmurray.com/g/800/480" alt="" class="hidden-xs">
            <div class="caption text-center">
              <h3>
                {{o.title}}
                <br>
                <small>
                  Square Footage
                </small>
              </h3>
              <a class="btn btn-success btn-block choiceBtn" role="button" href="#/item/">
                Select
              </a>
            </div>
          </div>
        </a>
        
      </div>
    </div>
    
<!-- END INTERACTIVE BUYING GUIDE -->